.calculator {
  width: 50%;
  margin: 0 auto;
  
}

.display {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;  
  width: 100%;
  margin-top: 10px;
}