.calculator {
  width: 50%;
}

.user-input {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;  
  width: 100%;
}