body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.calculator {
  width: 310px;
  margin: 0 auto;
  background: #D1D2D6;
  padding: 10px; 
  height: 400px;
  margin-top: 7vh;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .8);
}

.screen {
  border: 6px solid #686D73;
  border-radius: 3px;
}

.display {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  height: 75px;
  line-height: 75px;
  font-size: 55px;
  padding: 3px;
  background: #D4E2E3;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .6);
}

.button-grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  column-gap: 15px;
  row-gap: 15px;  
  width: 100%;
  margin-top: 10px;
}

.button-grid button {
  height: 45px;
  font-size: 25px;
  align-self: center; 
  border-radius: 5px;
}

.number, .operator, .decimal {
  background: #37373F;
  color: white;
}

.evaluate {
  background: #197A64;
  color: white;
}

.clear {
  grid-column: 1 / 3;
  background: #975265;
  color: white;
}

.backspace {
  grid-column: 3 / 5;
  background: #975265;
  color: white;
}